.drop-border{
    display: flex !important; border: none; justify-content: flex-end !important; box-shadow: none !important; border: none;
}
.ui-border{
    width: 66%; border: 1px solid #C9C9C9;
}
.pos-abs{
    position: absolute;
    left: 0;
}
.label{
    width:49%;
}
.width75{
    width:75%;
}
.other{
    width: 100%;
}
.alignFont{
    font-size: 96% !important;
}

@media only screen and (max-width: 750px) {
    .width75{
        width:100%;
    }
    .label{
    width:100%;
    }
    .pos-abs{
        position: relative; 
    }
    .ui-border{
        border:none;
    }
}